<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
  {{> header}}
    <p> Some Text here </p>
    <p>{{welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
